<a href="https://colab.research.google.com/github/MariiaYarmolenko/HW-Data-Loves/blob/main/HW_10.4(3.4-3.5)_apply%2C_groupby%2C_pivot_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Data/supermarket_sales.csv')
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [4]:
branch_profit = df.groupby('Branch')['gross income'].sum()
print(branch_profit)

top_branch = branch_profit.idxmax()
max_profit = branch_profit.max()
print(top_branch)
print(max_profit)

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64
C
5265.1765

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [5]:
city_profit = df.groupby(['City', 'Branch'])['gross income'].sum()
top_city = city_profit.idxmax()
max_profit_city = city_profit.max()
print(top_city)
print(max_profit_city)

('Naypyitaw', 'C')
5265.1765

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [6]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='Invoice ID', aggfunc='size') #–ê–±–æ count
display(invoices_by_category)

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [7]:
max_invoices_for_electronics = invoices_by_category['Electronic accessories'].idxmax()
max_value_for_electronics = invoices_by_category['Electronic accessories'].max()
print(max_invoices_for_electronics)
print(max_value_for_electronics)

A
60

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

1. –ì—ñ–ø–æ—Ç–µ–∑–∞ –ø—Ä–æ –∑–≤'—è–∑–æ–∫ Customer type —Ç–∞ —Ä—ñ–∑–Ω–æ–º–∞–Ω—ñ—Ç–Ω—ñ—Å—Ç—å —Ç–æ–≤–∞—Ä—ñ–≤ —É –∫–æ—à–∏–∫—É.

–ü–∏—Ç–∞–Ω–Ω—è: —á–∏ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è —Å—Ç—Ä—É–∫—Ç—É—Ä–∞ –∫–æ—à–∏–∫–∞ —É Member –≤—ñ–¥ Normal? –ß–∏ –≤—ñ–¥—á—É—Ç–Ω—ñ –ø–µ—Ä–µ–≤–∞–≥–∏ —É—á–∞—Å—Ç—ñ –≤ –ø—Ä–æ–≥—Ä–∞–º—ñ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ?

–ß–æ–º—É —Ü–µ –≤–∞–∂–ª–∏–≤–æ: –ø—Ä–æ–≥—Ä–∞–º–∞ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –º–∞—î —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ –∫–ª—ñ—î–Ω—Ç–∞ –∫—É–ø—É–≤–∞—Ç–∏ –≤ –æ–¥–Ω–æ–º—É –º—ñ—Å—Ü—ñ –≤—Å–µ, —Ç–æ–∂ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–∏–¥–±–∞–Ω–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤ —Ç–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –º–∞—î –±—É—Ç–∏ –≤–∏—â–∏–º.

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è: —è–∫—â–æ –ª–æ—è–ª—å–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ –º–∞—é—Ç—å –≤—É–∑—å–∫–∏–π –∫–æ—à–∏–∫, –≤–∞—Ä—Ç–æ –∑–∞–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ –∞–∫—Ü—ñ–π–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó, —è–∫—ñ –≤–æ–Ω–∏ –∑–∞–∑–≤–∏—á–∞–π —ñ–≥–Ω–æ—Ä—É—é—Ç—å (—Ç—ñ–ª—å–∫–∏ –¥–ª—è –≤–ª–∞—Å–Ω–∏–∫—ñ–≤ –∫–∞—Ä—Ç–æ–∫/–∑–∞—Å—Ç–æ—Å—É–Ω–∫—É) –∞–±–æ –ø–µ—Ä–µ–≥–ª—è–Ω—É—Ç–∏ —Å–∏—Å–∏—Ç–µ–º—É –∑–∞–æ—Ö–æ—á–µ–Ω–Ω—è, —è–∫–∞ –∑–∞–∫—Ä—ñ–ø–ª–µ–Ω–∞ –∑–∞ –ø—Ä–æ–≥—Ä–∞–º–æ—é –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ.

In [9]:
loyalty_analysis = df.groupby('Customer type').agg({
    'Rating':'mean',
    'Total':'mean',
    'Quantity':'sum'
})
display(loyalty_analysis)

                 Rating       Total  Quantity
Customer type
Member         6.940319  327.791305      2785
Normal         7.005210  318.122856      2725

2. –ì—ñ–ø–æ—Ç–µ–∑–∞ –ø–ø—Ä–æ –∑–≤'—è–∑–æ–∫ —Ä–µ–π—Ç–∏–Ω–≥—É —Ç–∞ —Å—É–º–∏ —á–µ–∫—É.

–ü–∏—Ç–∞–Ω–Ω—è: —á–∏ —ñ—Å–Ω—É—î –∑–∞–ª–µ–∂–Ω—ñ—Å—Ç—å –º—ñ–∂ —Å—É–º–æ—é —á–µ–∫–∞ (Total) —Ç–∞ —Ä–µ–π—Ç–∏–Ω–≥–æ–º (Rating)?

–ß–æ–º—É —Ü–µ –≤–∞–∂–ª–∏–≤–æ: –ø–æ–∫—É–ø—Ü—ñ, —è–∫—ñ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –±–∞–≥–∞—Ç–æ –≥—Ä–æ—à–µ–π, –º–∞—é—Ç—å –≤–∏—â—ñ –æ—á—ñ–∫—É–≤–∞–Ω–Ω—è –≤—ñ–¥ —Å–µ—Ä–≤—ñ—Å—É. –Ø–∫—â–æ –≤–µ–ª–∏–∫—ñ —á–µ–∫–∏ —Å—É–ø—Ä–æ–≤–æ–¥–∂—É—é—Ç—å—Å—è –Ω–∏–∑—å–∫–∏–º–∏ –æ—Ü—ñ–Ω–∫–∞–º–∏, —Ü–µ —Å–∏–≥–Ω–∞–ª, —â–æ –ø—Ä–µ–º—ñ—É–º-—Å–µ–≥–º–µ–Ω—Ç –∞–±–æ –ø–æ—Å—Ç—ñ–π–Ω—ñ –ø–æ–∫—É–ø—Ü—ñ –∑ —à–∏—Ä–æ–∫–∏–º–∏ –∫–æ—à–∏–∫–∞–º–∏ –Ω–µ–∑–∞–¥–æ–≤–æ–ª–µ–Ω–∏–π —Ä—ñ–≤–Ω–µ–º –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è.

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è: –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ñ–≤, —è–∫—â–æ –ø—ñ–¥—Ç–≤–µ—Ä–¥–∏—Ç—å—Å—è –∑–≤–æ—Ä–æ—Ç–Ω—ñ–π –∑–≤'—è–∑–æ–∫, –∑–∞–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ –¥–æ–¥–∞—Ç–∫–æ–≤—ñ –ø–æ—Å–ª—É–≥–∏ –¥–ª—è "–≤–µ–ª–∏–∫–∏—Ö —á–µ–∫—ñ–≤", —è–∫—ñ –ø–æ–ª—ñ–ø—à–∞—Ç—å –∑–∞–¥–æ–≤–æ–ª–µ–Ω—ñ—Å—Ç—å –∫–ª—ñ—î–Ω—Ç—ñ–≤ (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –¥–æ–ø–æ–º–æ–≥–∞ –∑ –¥–æ—Å—Ç–∞–≤–∫–æ—é –¥–æ –º–∞—à–∏–Ω–∏/–¥–æ –¥–æ–º—É –¥–ª—è –≥–∞–±–∞—Ä–∏—Ç–Ω–∏—Ö –ø–æ–∫—É–ø–æ–∫; –æ–∫—Ä–µ–º—ñ –∫–∞—Å–∏ –∑ –ø–∞–∫—É–≤–∞–Ω–Ω—è–º —Ç–æ—â–æ)

In [15]:
def segment_total(total):
  if total < 200:
    return 'Small'
  elif total < 600:
    return 'Medium'
  else:
    return 'Large'

df['Total Size'] = df['Total'].apply(segment_total)
satisfaction_by_check = df.groupby('Total Size')['Rating'].mean()
print(satisfaction_by_check)

Total Size
Large     6.684375
Medium    7.050000
Small     7.004146
Name: Rating, dtype: float64

3. –ì—ñ–ø–æ—Ç–µ–∑–∞ –ø—Ä–æ –∑–≤'—è–∑–æ–∫ –≥–µ–Ω–¥–µ—Ä—É —Ç–∞ —Ä—ñ–≤–Ω—è –≤–∏—Ç—Ä–∞—Ç

–ü–∏—Ç–∞–Ω–Ω—è: —á–∏ —ñ—Å–Ω—É—é—Ç—å –∑–Ω–∞—á–Ω—ñ –≤—ñ–¥–º—ñ–Ω–Ω–æ—Å—Ç—ñ –≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö —Ç–æ–≤–∞—Ä—ñ–≤, —è–∫—ñ –∫—É–ø—É—é—Ç—å —á–æ–ª–æ–≤—ñ–∫–∏ —Ç–∞ –∂—ñ–Ω–∫–∏, —Ç–∞ —á–∏ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è –ø—Ä–∏ —Ü—å–æ–º—É —ó—Ö–Ω—ñ–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫?

–ß–æ–º—É —Ü–µ –≤–∞–∂–ª–∏–≤–æ: —è–∫—â–æ –≤–∏—è–≤–∏–º–æ –∑–Ω–∞—á–Ω—ñ –≤—ñ–¥–º—ñ–Ω–Ω–æ—Å—Ç—ñ, –∑–º–æ–∂–µ–º–æ –æ–ø—Ç–∏–º—ñ–∑—É–≤–∞—Ç–∏ –≤–∏–∫–ª–∞–¥–∫—É —Ç–∞ –¥–æ–¥–∞—Ç–∏ —Ç–æ–≤–∞—Ä—ñ–≤ —É —Ä—ñ–∑–Ω—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó, —â–æ–± –∑–∞—Ü—ñ–∫–∞–≤–∏—Ç–∏ –ø–æ–∫—É–ø—Ü—ñ–≤ –≤—Å—ñ—Ö –≥–µ–Ω–¥–µ—Ä—ñ–≤.

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è: —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –ø–µ—Ä—Å–æ–Ω–∞–ª—ñ–∑–æ–≤–∞–Ω–∏—Ö –ø—Ä–æ–º–æ-–∞–∫—Ü—ñ–π –Ω–∞ –ø–µ–≤–Ω—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –∞–±–æ –æ–ø—Ç–∏–º—ñ–∑–∞—Ü—ñ—è –∑–æ–Ω—É–≤–∞–Ω–Ω—è –º–∞–≥–∞–∑–∏–Ω—É.

In [16]:
cheks_by_gender = df.groupby('Gender')[['Total', 'gross income']].mean()
display(cheks_by_gender)

             Total  gross income
Gender
Female  335.095659     15.956936
Male    310.789226     14.799487

In [22]:
gender_product_dist = df.groupby(['Gender', 'Product line']).size().unstack(level=0)
gender_pct = gender_product_dist.apply(lambda x: x / x.sum() * 100)
display(gender_pct)

Gender                     Female       Male
Product line
Electronic accessories  16.766467  17.234469
Fashion accessories     19.161677  16.432866
Food and beverages      17.964072  16.833667
Health and beauty       12.774451  17.635271
Home and lifestyle      15.768463  16.232465
Sports and travel       17.564870  15.631263

4. –ì—ñ–ø–æ—Ç–µ–∑–∞ –ø—Ä–æ –∑–≤'—è–∑–æ–∫ —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫—É —Ç–∞ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ —É –∫–æ—à–∏–∫—É –∑ –¥–Ω–µ–º —Ç–∏–∂–Ω—è

–ü–∏—Ç–∞–Ω–Ω—è: —á–∏ —î —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —É –≤–∏—Ö—ñ–¥–Ω—ñ –¥–Ω—ñ –≤–∏—â–∏–º, –Ω—ñ–∂ —É –±—É–¥–Ω—ñ, —Ç–∞ —á–∏ –ø–æ–≤'—è–∑–∞–Ω–æ —Ü–µ –∑ –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø—Ä–∏–¥–±–∞–Ω–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤?

–ß–æ–º—É —Ü–µ –≤–∞–∂–ª–∏–≤–æ: –∑–∞–∑–≤–∏—á–∞–π —É –±—É–¥–Ω—ñ –ª—é–¥–∏ —Ä–æ–±–ª—è—Ç—å "—à–≤–∏–¥–∫—ñ" –ø–æ–∫—É–ø–∫–∏ –ø—ñ—Å–ª—è —Ä–æ–±–æ—Ç–∏, —Ç–æ–¥—ñ —è–∫ —É –≤–∏—Ö—ñ–¥–Ω—ñ –≤–∏—ó–∂–¥–∂–∞—é—Ç—å –Ω–∞ –≤–µ–ª–∏–∫—ñ –∑–∞–∫—É–ø—ñ–≤–ª—ñ –Ω–∞ –≤–µ—Å—å —Ç–∏–∂–¥–µ–Ω—å.

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è: —è–∫—â–æ —á–µ–∫ –≤–∏—â–∏–π —É –≤–∏—Ö—ñ–¥–Ω—ñ, –≤–∞—Ä—Ç–æ –ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ —Å–ø–µ—Ü–∏—Ñ—ñ—á–Ω—ñ –∞–∫—Ü—ñ—ó (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥ "–ö—É–ø—É–π –±—ñ–ª—å—à–µ - –ø–ª–∞—Ç–∏ –º–µ–Ω—à–µ") —Å–∞–º–µ –≤ —Ü—ñ –¥–Ω—ñ. –Ø–∫—â–æ –∂ —á–µ–∫ –æ–¥–Ω–∞–∫–æ–≤–∏–π, –∞–ª–µ —Ç—Ä–∞—Ñ—ñ–∫ –≤–∏—â–∏–π - –≤–∞—Ä—Ç–æ –∑–æ—Å–µ—Ä–µ–¥–∏—Ç–∏—Å—è –Ω–∞ —à–≤–∏–¥–∫–æ—Å—Ç—ñ –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è.

In [23]:
df['Date'] = pd.to_datetime(df['Date'])
df['Day_of_Week'] = df['Date'].dt.day_name()
days_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

weekly_analysis = df.groupby('Day_of_Week')[['Total', 'Quantity']].mean().reindex(days_order)
display(weekly_analysis)

                  Total  Quantity
Day_of_Week
Monday       303.192624  5.104000
Tuesday      325.836997  5.455696
Wednesday    305.812133  5.594406
Thursday     328.617739  5.471014
Friday       316.016838  5.453237
Saturday     342.200058  5.603659
Sunday       334.269868  5.849624